div(front-controller='', a-trianglify='', data-colors='Greens')
  //- .container(style='text-align:center')
    //- word-art(data-text='rangers town') test keyword
    //- game-package(data-user='vm.user')  
  
  .container
    playing-card.card-lg.card-open.card-suit-s.card-rank-a
    playing-card.card-xl.card-open.card-suit-d.card-rank-10
    div(style='position:absolute;top:300px;left:200px')
      button.btn.btn-default(ng-click='vm.spread()')
        i.fa.fa-fw.fa-chevron-down
      .clearfix
      playing-card.card-sm.hero-move(ng-repeat='item in vm.cards',
        hero-id='{{ item.num }}')
        //- span {{ item.num }}
      .clearfix


    div.play(style='position:absolute;top:50px;left:50px')
      playing-card.card-sm.hero-move(ng-repeat='item in vm.player1Cards',
        hero-id='{{ item.num }}',
        asing='cubic-bezier(0.75, -0.5, 0.25, 1.5)',

        easing='cubic-bezier(0.75, 0, 0.25, 1)',
        duration='1s')
        //- span {{ item.num }}
      .clearfix


    div.play(style='position:absolute;top:450px;left:50px')
      playing-card.card-md.card-open.hero-move(ng-repeat='item in vm.player2Cards',
        hero-id='{{ item.num }}',
        asing='cubic-bezier(0.75, -0.5, 0.25, 1.5)',

        easing='cubic-bezier(0.75, 0, 0.25, 1)',
        duration='1s')
        //- span {{ item.num }}
      .clearfix

    div.play.play-big(style='position:absolute;top:50px;left:350px')
      playing-card.card-lg.card-suit-d.hero-move.big(ng-repeat='item in vm.player3Cards',
        hero-id='{{ item.num }}',
        
        
        asing='cubic-bezier(0.75, -0.5, 0.25, 1.5)',

        easing='cubic-bezier(0.75, 0, 0.25, 1)',
        duration='1s')
        //- span {{ item.num }}
      .clearfix

    div.play(style='position:absolute;top:450px;left:350px')
      playing-card.card-sm.hero-move(ng-repeat='item in vm.player4Cards',
        hero-id='{{ item.num }}',
        
        
        asing='cubic-bezier(0.75, -0.5, 0.25, 1.5)',

        easing='cubic-bezier(0.75, 0, 0.25, 1)',
        duration='1s')
        span {{ item.num }}
      .clearfix
    //- div
      div(style='height:200px')
        div.hero-move(ng-repeat='item in vm.upItems',
          hero-id='{{ item.name }}')
          span {{ item.name }}
        .clearfix
      button.btn.btn-default(ng-click='vm.moveItem("down")')
        i.fa.fa-fw.fa-chevron-down
      
      hr
      button.btn.btn-default(ng-click='vm.moveItem("up")')
        i.fa.fa-fw.fa-chevron-up
      div(style='height:200px')
        div.hero-move(ng-repeat='item in vm.downItems',
          hero-id='{{ item.name }}',
          
          duration='750ms')
          span {{ item.name }}
        .clearfix
      //- div(style='position:absolute;left:200px')
      //-   div.hero-move(ng-repeat='item in vm.downItems',
      //-     hero-id='{{ item.name }}')
      //-     span {{ item.name }}
      //-      